{% extends 'base.html' %}
{% load static %}
{% load carts_tags %}
{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
{% user_cart request as carts %}
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <h1>{{ content }}</h1>
        <p class="about">{{ text_on_page }}</p>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Пивоварня "HOLY" 2025</p>
        </div>
    </footer>
{% endblock %}
